<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{17,0},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{34,0},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leftIdle.png</string>
            <key>size</key>
            <string>{51,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02dc3bf759828403dfbd393f95c9786c:d0f43b38d86ff52c5529a96cf47f38ec:a89eedc6887777b571464b050849a080$</string>
            <key>textureFileName</key>
            <string>leftIdle.png</string>
        </dict>
    </dict>
</plist>
